 /* -------- Part of ScrollBar ----------------------------------------------------*/
 html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* --scrollbarBG: rgb(70, 103, 109);
    --thumbBG: rgba(81, 74, 85, 0.78); */
}




/*--------BODY--------------------------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    background-color: rgb(40, 37, 44);
    width: 100%;
    height: 100%;
}




/*<----------------Custom - Body------------------------------------------------->*/
.darkBody {
    top: 0;
    left: 0;
    margin-top: 0;
    position: relative;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    background-color: rgb(40, 37, 44);
    color: sandybrown;
    overflow: hidden;
}