





 
/*======== Contents --- CENTER / MIDDLE   ====================================================================================================================*/
 /*------The Div that holds the items ViewIMG button, <a> and the Element <img>-----------*/
 .contentContainer_Item_Holder {
    position: relative;
    display: inline-block;
}



/*------Img viewer button-----------*/
.image_Viewer_Button {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 4;
    bottom: 50px;
    right: 30px;
    cursor: zoom-in;
    border-radius: 8px;
    box-shadow: 0 0 5px 5px rgba(35, 36, 66, 0.811);
    border: 1px solid rgb(33, 33, 49);

}


/*------The Img viewer button---Image--Icon--------*/
img.view-Img-Button {
    content: url('https://icons.iconarchive.com/icons/bokehlicia/captiva/64/multimedia-photo-manager-icon.png');
}







/*-----------------The Overlay Window---------------------------------------*/
.overlay_Window
{
    display: none; 
    background-color:rgba(92, 116, 141, 0.7);
    position: absolute; 
    z-index: 100;  
    width: 100%; 
    height: 100%;  
    top: 0; 
    left: 0;  
    right: 0;
    bottom: 0;  
}



/*-----------------The Overlay Window---IMG--------------------------------*/
.overlay_IMG
{
     position: relative;
     border-radius: 10px;
     border: 2px solid rgb(83, 82, 99);
     top: 50%; 
     left: 50%;  
     transform: translate(-50%, -50%); 
     max-height: 90vh;
     max-width: 90vw;
     min-height:auto;
     min-width: 50vh;
     height: auto;
     width: 120vh;
}












.cv_loading{
     position: fixed; 
     float: left;
     top: 50px; 
     left: 50%; 
     transform: translate(-50%);
     z-index:-1; 
     color: rgb(56, 255, 238); 
     font-family: 'Courier New', monospace;
}





.cv_iframe
{
    background: linear-gradient(to bottom, rgb(34, 38, 54) 20%, #2b3336 100%);
    width: 100%;  
    height: 99%; 
    border-radius: 4px; 
    position:absolute; 
    z-index: 100; 
    top: 0; 
    left: -1px;
}


/* 
.cv_loading_info{
    position: absolute; 
    float: left; 
    top: 60%; left: 50%; 
    transform: translate(-50%, -50%);
    z-index:-1; 
    color: rgb(56, 255, 238);
    font-family: 'Courier New', monospace;
} */